.header {

}
.logo {
  text-transform: uppercase;
  color: #95E1D3;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30;
}

.mogo_text {
  text-transform: uppercase;
  color: #95E1D3;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30;
}
.menu  {

}
.menu_list {

}











