 
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
.section_service {
  padding: 0 5px;
}
.section_service__headline {
  font-size: 40px;
  color: #222222;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section_service__text {
  font-size: 16px;
  color: rgb(119, 119, 119);
  font-family: "Roboto Slab", serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 80px;
}
.card_wrapper {
  max-width: 990px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 65px;
}
.card {
  width: 290px;
  margin: 0 10px;
  margin-bottom: 50px;
}
.icon_wrapper {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  border: 3px solid #fed136;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
}
.card__icon {
}
.card__headline {
  font-size: 18px;
  color: #222222;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin-bottom: 15px;
}
.card__text {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  color: #777777;
}